body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchBar{
  margin-left: 5px;
  min-width: 50%;
}

.Scroll{
  display: flex;
  justify-content: left;
}

.body{
  display:flex;
  flex-direction: column;
  margin-left: 10px;
}

.text{
  align-items: center;
  margin: 30px;
}

.header{
  background-color: blue;
  height: 70px;
  width: 100%;
  display:flex;
  justify-content: space-between;
  
}

.button{
  align-items: flex-end;
  margin:20px;
  height: 30px;
  width: 50px;
}

.logo{
  text-align: center;
  margin:left;
  font-size: 20px;
}